<h1>Decks</h1>

<table>
<% @decks.each do |deck| %>
  <ul>
    <li><%= link_to deck.title, admin_deck_path(deck.id) %></li>
  </ul>
  <%end%>
</table>
<table>
  <tr>
    <td width="30%">
      <%= link_to "Create a Deck", new_admin_deck_path %>
    </td>
    <td width="30%">
      <%= link_to "View Decks", admin_decks_path %>
    </td>
  </tr>
</table>