<h2>Deck Title:</h2>
<%= @deck.title %><br><br>
<h2>Deck Description:</h2>
<%= @deck.description %><br><br><br>

<%= button_to "Edit Deck", edit_admin_deck_path, :method => "get" %><br>
<%= render '/layouts/footer'%>