<h1>Cards</h1>
<p>This is the admin dashboard home page</p>

<table>
<% @cards.each do |card| %>
  <ul>
    <li><%= card.prompt %></li<>
  </ul>
  <%end%>
</table>
<table>
  <tr>
    <td width="30%">
      <%= link_to "Create a Card", new_admin_card_path %>
    </td>
    <td width="30%">
      <%= link_to "View Cards", admin_cards_path %>
    </td>
  </tr>
</table>