<h2>Card prompt:</h2>
<%= @card.prompt %><br><br><br>

<h2>Min Players:</h2>
<%= @card.min_players%><br><br>

<%= button_to "Edit Card", edit_admin_card_path, :method => "get" %><br>
<%= render '/layouts/footer'%>
